.header {
    width: 1200px;
    height: 30px;
    line-height:30px;
    margin: 0 auto;
    background: #f5f5f5;
}
element style{
    background: #f5f5f5;
}

.headerLeft ul li {
    top: 10px;
    left: 0;
}
.headerLeft a {
    float: left;
    line-height: 30px;
    padding: 0 5px;
    color: #a4a4a4;
}
.headerRight ul li {
    float: right;
}

.navWrap{
    width: 1200px;
    margin:0 auto;
}
.navWrap .logo{
    float: left;
    margin-right: 40px;
    width: 240px;
    height: 50px;
}
.nav {
    float: left;
    max-width: 560px;
    height: 40px;
    line-height:40px;
    overflow: hidden;
    margin-top: 5px;
}
.nav a {
    float: left;
    margin-right: 20px;
    font-size: 16px;
    color: #3a3a3a;
}
.nav a:hover {
    color: #ca141d;
    text-decoration: underline;
}
.right {
    float: right;
}
.search-bar-form {
    position: relative;
    line-height: 1;
    border-bottom: 1px solid #ddd;
    width: 330px;
    height: 27px;
    overflow: hidden;
    margin-top:14px;
}
.search-bar-form .text {
    background: #fff;
    border: 0;
    color: #3a3a3a;
    width: 299px;
    padding-left: 11px;
    height: 27px;
    line-height: 27px;
}
.search-bar-form .button {
    width: 20px;
    height: 33px;
    cursor: pointer;
    border: 0;
    text-indent: -9999px;
    overflow: hidden;
    position: absolute;
    right: 0;
    background: url(https://res.vmallres.com/20170922/images/echannel/icon-common.png) no-repeat 0 -25px;
}

.layout{
    min-width:1200px;
}
.focus {
    position: relative;
    height: 450px;
    margin: 0 auto;
    overflow: hidden;
}
.focus .pics{
    position: absolute;
    top:0;
    left:0;
    height:450px;
}
.focus .pics img {
    display: block;
    width: 100%;
    height: 100%;
}
.layout .dot{
    position: absolute;
    bottom:.15rem;
    width: 100%;
    text-align:center;
    font-size: 0;
}
.layout .dot li{
    border-radius: 10px;
    border: 1px solid #FFF;
    display: inline-block;
    height: 10px;
    line-height: 10px;
    text-align: center;
    color: #fff;
    margin-left: 10px;
    width: 10px;
    background-color: transparent;
    cursor: default;
}
.focus .txt {
    position: absolute;
    top: 0;
    left: 0;
}
.focus .txt li {
    width: 240px;
    height: 75px;
}
.focus .txt h3 a {
    font-size: 14px;
    color: #172c45;
}
.category{
    position: relative;
    /*top:0;
    left:0;*/
    width: 240px;
    height:450px;
    margin-left: 75px;
    background: rgba(0,0,0,0.6);
}

.category-info a{
    font-size: 14px;
}
.category-info h3 a{
    font-size:16px;
}
.category li{
    /*padding: 10px 16px;*/
    height: 75px;
    /*position: relative;*/
}
.category .category-info h3{
    line-height:24px;
    padding-bottom: 2px;
}
.category li h3 a{
    color:#fff;
}
.category li a{
    /*font-size:14px;*/
    color:#999;
}
.category li .arrow{
    display: block;
    position: absolute;
    width: 7px;
    height: 13px;
    background:url(https://res.vmallres.com/20170922/images/echannel/icon-common.png) -9px -214px;
    top: 50%;
    margin-top: 3px;
    right: 10px;
}
.category-panels{
    display: none;
    position: absolute;
    top: 0;
    left: 240px;
    width: 648px;
    height: 448px;
    background-color: #FFF;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}
/*鼠标移上出现*/
.category li:hover .category-panels{
    display: block;
}
.subcate-list{
    width: 580px;
    padding: 36px 28px 0 40px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}
.category-panels .p-title {
padding: 20px 28px 20px 0;
    width: 580px;
    height: 30px;
    line-height: 30px;

}
.category-panels .p-title a {
    padding: 20px 28px 20px 40px;
    width: 580px;
    height: 30px;
    font-size: 14px;
    color: #ca151d;

}
.fr{
    float: right;
    color:#ca151d ;
}
.category-panels .subcate-list a{
    display: block;
    float: left;
    font-size: 14px;
    color: #3a3a3a;
    padding-right: 30px;
    line-height: 1;
    padding-bottom: 36px;
}
.p-pro .thumb img{
    width: 118px;
    height: 118px;
    margin-bottom: 30px;
}
.thumb .grid-title{
    font-size: 14px;
    font-weight: 400;
    margin: 16px 20px 2px;
    overflow: hidden;
    color: #3a3a3a;
    vertical-align: bottom;
    padding-left: 0;
    padding-right: 16px;

}
.p-pro .thumb li{
    float:left;
    width: 25%;
    height: 236px;
    background: #FFF;
    margin: 0;
    position: relative;
}
.grid-items .thumb{
    display: inline-block;
    width: 232px;
    height: 290px;
    text-align: center;
   color: #333;


}
.p-pro .grid-items .grid-img {
    margin: 26px auto 0;
    width: 118px;
    height: 118px;
}
.p-pro .grid-items .grid-title{
    margin-top: 0;
    padding-top: 0;
    width: 129px;
    height: 42px;
    line-height: 1.1;
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;

}
.p-pro .thumb{

    border-right: 1px solid #eaeaea;
}
.p-pro .grid-items{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.grid-items .grid-price{
    font-size: 14px;
    color: #cc0e11;
}
.thumb li{
    border-right: 1px solid #eaeaea;
    padding-top: 30px;

}
.category-info{
    padding: 10px 16px;
    height: 55px;
    position: relative;
}
.main{
    width: 1200px;
    margin: 12px auto;
}
div{
    display: block;
}
.home-channel-list{
    list-style-type: none;
    margin: 0 -6px;
    padding: 0;
}
.home-channel-list li{
    float: left;
    margin: 0 6px;
}
.home-recommend-goods{
    width: 1200px;
    margin: 0 auto;
}
.home-recommend-goods .h{
    position: relative;
}
.home-recommend-goods .b {
    position: relative;
   /* width: 1200px;*/
}
.home-hot-goods .b {
    height: 590px;
}
.span-232 {
    width: 232px;
}
.f1{
    float: left;
}
.grid-promo-list {
    margin: 0 0 -10px -10px;
}
.grid-items {
    background: #FFF;
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
    position: relative;
}

.home-recommend-goods .h .title {
    color: #3a3a3a;
    font-size: 22px;
    margin: 0;
    padding: 30px 0 15px 0;
    line-height: 1;
}

.grid-items-sm{
    display: block;
}
.grid-img{
    display: block;
}
.grid-items grid-items-smimg{
    width: 968px;
    height: 600px;
}
.home-hot-goods .b .grid-items .grid-img img{
    width: 134px;
    height: 134px;
}
.home-hot-goods .b .grid-items .grid-title{
    padding-top: 14px;
}
.home-hot-goods .b .grid-items .grid-desc{
    margin: 0;
    line-height: 24px;
}
.grid-items .grid-desc{
    font-size: 12px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #a4a4a4;
}
.grid-items .grid-price{
    font-size: 14px;
    font-weight: 400;
    margin: 0 20px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #cc0e11;
}
.grid-items .grid-tips{
    position: absolute;
    width: 48px;
    height: 48px;
    right: 35px;
    top: 135px;
}
.grid-list{
    float: left;
    width: 968px;
    height: 600px;
}
.grid-promo-list{
    float: left;
}
.home-recommend-goods .h .title {
    color: #3a3a3a;
    font-size: 22px;
    margin: 0;
    padding: 30px 0 15px 0;
    line-height: 1;
}
.home-recommend-goods .b {
    position: relative;
    width: 1200px;
}
.goods-rolling {
    overflow: hidden;
    width: 1200px;
    height: 305px;
}
.relative {
    position: relative;
}
.goods-rolling .grid-list {
    width: 3488px;
    min-width: 1200px;
}
.home-recommend-goods .b {
    position: relative;
    width: 1200px;
}
.goods-rolling {
    overflow: hidden;
    width: 1200px;
    height: 305px;
}
.relative {
    position: relative;
}
ul {
    list-style: none;
}
.goods-rolling .grid-items {
    /*border-left: 1px solid #f5f5f5;*/
    margin: 0;
    width: 217px;
}
.grid-items {
    background: #FFF;
    float: left;
    height: 290px;
    position: relative;
}
.hr-10{
clear: both;
font-size: 1px;
line-height: 1px;
}
.hr-10 {
    height: 10px
}

.ec-slider-item-img {
    width: 1200px;
    margin: 0 auto;
    text-align: right;
}
